CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_S3_API=
CLOUDFLARE_R2_ACCOUNT_TOKEN=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_BUCKET_NAME=
CLOUDFLARE_PUBLIC_DOMAIN=

SUPABASE_URL=
SUPABASE_PUBLISHABLE_KEY=
SUPABASE_DIRECT_CONNECTION_STRING=
SUPABASE_PATH=

PORT=3000
